.featured-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  margin: 20px 0;
  gap: 20px; /* Ensures space between cards */
}

.blog-tag-pair{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
margin: 0.2em;
}

.blog-tag {
  
  cursor: pointer;
  color: var(--font-color); /* Default color */
  border-bottom: 2px solid transparent; /* Adjust for invisible border, remove underline */
  padding: 1em 2em; /* Increased padding around tags */
  margin-bottom: -2px; /* Aligns bottom border with blog-list's bottom border */
  text-decoration: none; /* Ensures no underlining */
  border-bottom: 0.15em solid var(--font-color);
  padding-bottom: 10px;
}
.blog-preview-text {

  text-align: justify;
  padding: 10px 16px;
  margin: 20px 0;
  border-radius: 3px;

}

.blog-tag-preview {
  cursor: pointer;
  color: var(--main);

  border-bottom: 2px solid transparent; /* Adjust for invisible border, remove underline */
  padding: 0.5em 1em; /* Increased padding around tags */
  margin-bottom: -2px; /* Aligns bottom border with blog-list's bottom border */
  text-decoration: none; /* Ensures no underlining */
  border: 0.1em solid var(--main);
  padding-bottom: 5px;
  border-radius: 9px;
  padding:0.4em;
  margin-left: 1em;
  font-size: 0.8em; /* Smaller font size */
  transition: background-color 0.2s, border-color 0.2s; /* Smooth transition */
}

.blog-tag-preview:hover {
  background-color: var(--hover-bg); /* Hover background color */
  border-color: var(--main); /* Hover border color */
}

.blog-tag.active {
  color: var(--main); /* Active tag color */
  border-bottom-color: var(--main); /* Active border color */
}

.blog-list {
  padding-bottom: 10px; /* Space above the border */
}

.blog-preview {
  padding-bottom: 20px; /* Adds padding to each blog preview for spacing */
}


.feature-card {
  flex: 0 0 auto; /* Do not grow, do not shrink, basis auto */
  transition: transform 0.2s, border-color 0.2s, background-color 0.2s;
  padding: 10px 16px;
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 5px;
  border-bottom: 1px solid #747474;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  background-color: #fff; /* White background */
  min-height: 8em;
}
.feature-card * {
  transition: transform 0.2s, background-color 0.2s;
}

.feature-card:hover,.feature-card:hover *{
 background-color: var(--hover-bg);
}
.feature-card:hover .profile-pic{
  background-color: var(--main);
}
.feature-card .profile-pic{
  background-color: var(--main);

}
.feature-card:hover {
  transform: scale(1.03);
  box-shadow: 2px 6px 10px rgba(0,0,0,0.1);
  border-color: var(--main);
}

.profile-pic {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: inline-block;
  font-size: 1.3em;
  color: var(--secondary);
  background-color: var(--main); /* Bootstrap primary blue, for example */
  text-align: center;
  line-height: 1.5em;
  margin-right: 0.5em; /* Adds spacing between the profile pic and text */
  cursor: pointer;
}
@media (min-width: 600px) {
  .profile-pic2 {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: inline-block;
    font-size: 1.3em;
    color: var(--secondary);
    background-color: var(--main); /* Bootstrap primary blue, for example */
    text-align: center;
    line-height: 1.5em;
    margin-right: 0.5em; /* Adds spacing between the profile pic and text */
    cursor: pointer;
    text-align: default;
    margin: 0;
    margin-left: 1em;
  }
}

.explore-more {
  position: relative; /* Adjust based on layout, was absolute */
  float: right; /* Floats to the right of the parent element */
  font-size: 0.9rem;
  margin-top: -40px; /* Adjust as needed */
  color: var(--blue); /* Bootstrap primary blue, for example */
}

  
  .feature-card {
    margin: 10px;
    padding: 20px;
    background-color: var(--container-bg); /* Light grey, for visibility */
    border-radius: 5px;
  }
  .feature-card *{
    background-color: var(--container-bg);
  }
  
  .feature-card h3,
  .feature-card p {
    margin: 5px 0;
  }

  .author{
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
  }

  .pair{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
  }

  .feature-tag {
    
    color: var(--main);
    cursor: pointer;
    padding: 0.4em 0.7em;
    margin: 0.1em;
    font-size: 0.8em;
    border-radius: 20px;
    background-color: var(--secondary); /* Add a background color */
    border: 1px solid var(--blue); /* Add a border */
  }

  
.swiper{
  height: calc(100% + 2em);
  height: 14em;
}


  
  /* Optional: Additional customization for the pagination bullets */
  .swiper-pagination-bullet {
    width: 12px; /* Adjust the bullet width */
    height: 12px; /* Adjust the bullet height */
    opacity: 1; /* Adjust the non-active bullet opacity */
    --swiper-pagination-bullet-inactive-color: #999999;
    --swiper-pagination-color: var(--main); /* Sets the pagination bullet color */
  }
  
  .swiper-pagination-bullet-active {
    /* Specific styles for the active bullet, if needed */
    
  }
  











