.hero-section {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space between the text and image */
    padding: 50px 20px;
   
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
    }
}

.content {
    flex: 1; /* Allows the text content to fill the space */
    padding-right: 20px; /* Adds some space between the text and the image */
    padding-top: 0;
    margin-top: 0;
}

.hero-image {
    flex: 1; /* Allows the image to take up equal space */
    max-width: 50%; /* Limits the image width to half of the container */
    height: auto; /* Maintain aspect ratio */
}

.title {
    color: var(--font-color);
    font-size: 2.5em;
    margin-bottom: 0.25em;
}

.subtitle {
    font-size: 1.5em;
    color: var(--font-light);
    margin-bottom: 1.5em;
}

.button-primary {
    color: black;
    background-color: var(--main);
    border: 1px solid var(--main);
    font-weight: 500;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 2em;
}

.button-primary:hover {
  background-color: #5cc7aa; /* MAIN */
    border-color: var(--main-hover);
}

.button-secondary {
    color: var(--font-color);
    font-weight: 500;
    border: 1px solid var(--main);
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.button-secondary:hover {
    background-color: var(--hover-bg);
    border-color: var(--secondary-hover);
}
  
  .button-primary {
    color: black;
    background-color: var(--main);
  border: 1px solid var(--main);
  font-weight: 500;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 2em;
  
  }
  
  .button-secondary {
    color: var(--font-color);
    font-weight: 500;
  border: 1px solid var(--main);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  
  }
 
  