/* ShowDate.css */

.show-date {
    font-size: 3em; /* Change the font size as desired */
    color: #c20c0c; /* Change the font color as desired */
    text-align: center; /* Change the text alignment as desired */
  }
  