@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --main: #78ffdb;   /* MAIN */
  --blue: #8893af;    /* BLUE */
  --secondary: #0b1a2f; /* WHITE */
  --container-bg: #182b45;
  --hover-bg: #122a3b;
  /* --accent-color: #747474;    /* GRAY */
  --font-color: #ccd7f5;
  --font-light: rgb(136, 146, 176);
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: var(--font-color);
  background-color: var(--secondary);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid var(--font-light);
}
.navbar h1 {
}
.navbar .links {
  
  margin-left: auto;
}
.navbar a {
  
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  
  color: var(--main);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}



/* blog previews  this is for hovering the things on the blog list/ list */ 
.blog-preview {
  transition: transform 0.2s, background-color 0.2s;
  padding: 10px 16px;
  margin: 20px 0;
  border-left: 4px solid #747474;
  border-radius: 3px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  background-color: var(--container-bg); /* Add background color */
}
.blog-preview:hover {
  transform: scale(1.03);
  box-shadow: 2px 6px 10px rgba(0,0,0,0.1);
  background-color: var(--hover-bg);
  border-color: var(--main);
}
.blog-preview:hover * {
  background-color: var(--hover-bg);
}
.blog-preview *{
  transition: transform 0.2s, background-color 0.2s;
  background-color: var(--container-bg);
}


.blog-tag-pair{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.6em;
margin: 0.2em;
}

.blog-tag{
  color: var(--main);
  cursor: pointer;
  text-decoration: underline;

}

.blog-preview h2 {
  font-size: 20px;
  color: var(--font-color);
  margin-bottom: 8px;
}

.blog-preview:hover .LuGlasses {
  stroke: rgb(255, 255, 255);
  stroke-width: 1.5px;
}





.blog-preview a{
  text-decoration: none;
}


/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: var(--main);
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  color: var(--main);
  border: 1px solid var(--main);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.blog-details button:hover {
  background-color: var(--hover-bg);
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: var(--main);
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  color: var(--main);
  border: 1px solid var(--main);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

input:active, input:focus, textarea:active, textarea:focus, select:active, select:focus{
  border: 1px solid var(--main);
  outline: none;
  box-shadow: none;
  background-color: var(--hover-bg);
}

.create button:hover {
  background-color: var(--hover-bg);
}

.LuGlasses{
  stroke: var(--font-color)
}
/* highlighting icon and readtime in blog list */

.display-linebreak {
  white-space: pre-line;
}

.smallText{
  font-size: 50;
  color:#747474;
}

.show-date {
  display: flex;
  align-items: center;
  padding-left: 200px;
}
/* ADD SOME PADDING BETWEEN DATE AND DATE ICON
ALLIGN SOMEWHERE */
.container2{
  display: flex;
}
.container3{
  margin-top: 0 !important;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}

.right{
  align-content: flex-end;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

